# front
frontend/node_modules
/.pnp
.pnp.js
/coverage
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/build
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*



# vercel
.vercel

# misc
.DS_Store
*.pem