# front
app/node_modules
/.pnp
.pnp.js
/coverage
app/.next/
app/out/
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
app/build
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

.env

# vercel
.vercel

# misc
.DS_Store
*.pem